

 
/*###########################################
ul li (all)
###########################################*/

nav#navbar ul li{
    display: inline-block;
}

nav#navbar ul li a {
    position: relative;
    display: block;
    width: 152px;
    text-align: center;
}

/*###########################################
Active
###########################################*/

.active a{
    padding: 28px 0 20px 0;
	background: -webkit-gradient(linear, left top, left bottom, from(#0000db), to(#00009b));
	background: -moz-linear-gradient(top center, #0000db, #00009b);

     border: 1px solid #00008d;
     -webkit-border-radius: 10px 10px 0 0;
    -webkit-background-clip: padding-box;
  -webkit-box-shadow: inset 0 0 1px #0000fd;
      -webkit-box-shadow: inset 0 0 1px #fd0000;
    -moz-border-radius: 10px 10px 0 0;
    -moz-background-clip: padding-box;
    -moz-box-shadow: inset 0 0 1px #fd0000;
	text-shadow: 0 1px 1px black;
	
    margin-left: -5px;
    z-index: 2;
    color: white;
	
     
}

.active a:focus {
    outline: none;
}

/*###########################################
Inactive
###########################################*/

nav#navbar .inactive a:hover {
    background: -webkit-gradient(linear, left bottom, left top, from(#eee), to(#ddd));
    background: -moz-linear-gradient(top center, #ddd, #eee);
}
nav#navbar .inactive a {

   color: #222;
    text-shadow: 0 1px 1px white;
    background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ddd));
    background: -moz-linear-gradient(top center, #eee, #ddd);
    -webkit-box-shadow: inset 0 0 5px white;
    -moz-box-shadow: inset 0 0 5px white;
    padding: 20px 0;
    -webkit-box-shadow: inset 0 0 5px white;
    -moz-box-shadow: inset 0 0 5px white;
    border: 1px solid #ccc;
    margin-left: -5px;
    z-index: 1;
	}
.inactive a:focus {
    outline: none;
}

 

/*###########################################
slider
###########################################*/

#slider {
  border: 1px solid #ccc;
    
    padding: 0px 25px 30px 25px;
    line-height: 25px;
    margin-left: 35px;
}
 
 
